body {
    background-color: rgb(255, 223, 44);
    font-family: "Open Sans", sans-serif;
}

.photo{
    width: 200px;
    height: auto;
}

footer {
    background-color: rgb(20, 72, 175);
    color: white;
}